/* cascading style sheets */

/* Inline Styling */
/* Internal Styling */
/* External Styling */

*{
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

.upper_main{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: cover;
    color: #fff;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #cc0000;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
